In [1]:
import numpy as np

In [2]:
a = np.array([1,3,5,7,9,11], dtype=int)
b_list=[2,4,6,8,10,12]
b = np.array(b_list)
c = np.array([[1.1,2.2,3.3,4.4,5.5,6.6], [7.7,8.8,9.9,10.10,11.11,12.12], [13.13,14.14,15.15,16.16,17.17,0]])

In [3]:
d = np.zeros((4,6))
e = np.ones((3,3,3))

np.zeros_like(a) # создает zeros той же размерности что и a
np.ones_like(a) # создает ones той же размерности что и a

array([1, 1, 1, 1, 1, 1])

In [85]:


f = np.eye(5)
f1 = np.identity(5)
f2 = np.eye(5, k=1, dtype=float)

g = np.empty((5,5))
h = np.arange(0,1,0.1)
h2 = np.arange(10)

i = np.linspace(0,1,20)

In [86]:
print (a)
print ('-----')
print (b)
print ('-----')
print (c)
print ('-----')
print (d)
print ('-----')
print (e)
print ('-----')
print (f)
print (f1)
print (f2)
print ('-----')
print (g)
print ('-----')
print (h)
print (h2)
print ('-----')
print (i)
print ('-----')
type(c)

[[1. 2.]
 [3. 4.]]
-----
[[5. 6.]
 [7. 8.]]
-----
[[ 1.1   2.2   3.3   4.4   5.5   6.6 ]
 [ 7.7   8.8   9.9  10.1  11.11 12.12]
 [13.13 14.14 15.15 16.16 17.17  0.  ]]
-----
[[0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0.]]
-----
[[[1. 1. 1.]
  [1. 1. 1.]
  [1. 1. 1.]]

 [[1. 1. 1.]
  [1. 1. 1.]
  [1. 1. 1.]]

 [[1. 1. 1.]
  [1. 1. 1.]
  [1. 1. 1.]]]
-----
[[1. 0. 0. 0. 0.]
 [0. 1. 0. 0. 0.]
 [0. 0. 1. 0. 0.]
 [0. 0. 0. 1. 0.]
 [0. 0. 0. 0. 1.]]
[[1. 0. 0. 0. 0.]
 [0. 1. 0. 0. 0.]
 [0. 0. 1. 0. 0.]
 [0. 0. 0. 1. 0.]
 [0. 0. 0. 0. 1.]]
[[0. 1. 0. 0. 0.]
 [0. 0. 1. 0. 0.]
 [0. 0. 0. 1. 0.]
 [0. 0. 0. 0. 1.]
 [0. 0. 0. 0. 0.]]
-----
[[  20.2   20.3   30.1   30.2   30.3]
 [  50.2   50.3  100.1  100.2  100.3]
 [ 300.2  300.3  400.1  400.2  400.3]
 [1000.2 1000.3 2000.1 2000.2 2000.3]
 [4000.2 4000.3 5000.1 5000.2 5000.3]]
-----
[0.  0.1 0.2 0.3 0.4 0.5 0.6 0.7 0.8 0.9]
[0 1 2 3 4 5 6 7 8 9]
-----
[0.   0.05 0.11 0.16 0.21 0.26 0.32 0.37 0.42 0.47 0.53 0.58 0.63 0.68
 0.74 0.79 0.84 0.89 0.95 1.  ]
-----

numpy.ndarray

In [6]:
def func_sum_mul_5(i, j):
    return 5 * (i + j)

j = np.fromfunction(func_sum_mul_5, (3,3))

print (j)

[[ 0.  5. 10.]
 [ 5. 10. 15.]
 [10. 15. 20.]]

In [7]:
print(np.arange(0, 3000, 1))

[   0    1    2 ... 2997 2998 2999]

In [8]:
np.set_printoptions(precision=2 ,threshold=1000, edgeitems=5)

In [9]:
print(np.arange(0, 3000, 1))

[   0    1    2    3    4 ... 2995 2996 2997 2998 2999]

одного размера

In [10]:
a + b

array([ 3,  7, 11, 15, 19, 23])

In [11]:
b - a

array([1, 1, 1, 1, 1, 1])

In [12]:
a * b

array([  2,  12,  30,  56,  90, 132])

In [13]:
b / a

array([2.  , 1.33, 1.2 , 1.14, 1.11, 1.09])

In [14]:
a ** b

array([          1,          81,       15625,     5764801,  -808182895,
       -1192716655], dtype=int32)

In [15]:
b % a # При взятии остатка от деления на 0 возвращается 0

array([0, 1, 1, 1, 1, 1], dtype=int32)

In [16]:
b // a

array([2, 1, 1, 1, 1, 1], dtype=int32)

элемент и число

In [17]:
a + 1

array([ 2,  4,  6,  8, 10, 12])

In [18]:
a < 5

array([ True,  True, False, False, False, False])

In [19]:
a[a<5]

array([1, 3])

In [20]:
a.sum()
np.sum(a)

36

In [99]:
a=a+1

In [100]:
a

array([[1., 1.],
       [1., 1.]])

In [103]:
a.prod()
np.prod(a)

1.0

slice

In [21]:
a[0]
a[0:2]
a[::-1]

for i in a:
     print(i ** 2)

1
9
25
49
81
121

In [22]:
c.shape

(3, 6)

In [23]:
c

array([[ 1.1 ,  2.2 ,  3.3 ,  4.4 ,  5.5 ,  6.6 ],
       [ 7.7 ,  8.8 ,  9.9 , 10.1 , 11.11, 12.12],
       [13.13, 14.14, 15.15, 16.16, 17.17,  0.  ]])

In [24]:
c.min(axis=0)  # Наименьшее число в каждом столбце
c.min(axis=1)  # Наименьшее число в каждой строке

array([1.1, 7.7, 0. ])

In [106]:
c.argmin()
c.min()

0.0

In [107]:
c.mean()

8.810000000000002

In [108]:
c.std()

5.152724198583374

In [110]:
c.var()

26.55056666666667

In [25]:
print(c[::-1])
print('-----')
print(c[-1])

[[13.13 14.14 15.15 16.16 17.17  0.  ]
 [ 7.7   8.8   9.9  10.1  11.11 12.12]
 [ 1.1   2.2   3.3   4.4   5.5   6.6 ]]
-----
[13.13 14.14 15.15 16.16 17.17  0.  ]

In [26]:
c[1:3:1]

array([[ 7.7 ,  8.8 ,  9.9 , 10.1 , 11.11, 12.12],
       [13.13, 14.14, 15.15, 16.16, 17.17,  0.  ]])

In [27]:
print(c[2,3])
print(c[(2,3)])
print(c[2][3])

16.16
16.16
16.16

In [28]:
c[:,2]

array([ 3.3 ,  9.9 , 15.15])

In [29]:
c[:2]

array([[ 1.1 ,  2.2 ,  3.3 ,  4.4 ,  5.5 ,  6.6 ],
       [ 7.7 ,  8.8 ,  9.9 , 10.1 , 11.11, 12.12]])

In [30]:
c[1:3,1:3]

array([[ 8.8 ,  9.9 ],
       [14.14, 15.15]])

In [31]:
c

array([[ 1.1 ,  2.2 ,  3.3 ,  4.4 ,  5.5 ,  6.6 ],
       [ 7.7 ,  8.8 ,  9.9 , 10.1 , 11.11, 12.12],
       [13.13, 14.14, 15.15, 16.16, 17.17,  0.  ]])

In [114]:
c.sort()
#sorted(c)

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

In [32]:
k = np.array([[[10.1,10.2,10.3],[20.1,20.2,20.3],[30.1,30.2,30.3],[40.1,40.2,40.3],[50.1,50.2,50.3]],
              [[100.1,100.2,100.3],[200.1,200.2,200.3],[300.1,300.2,300.3],[400.1,400.2,400.3],[500.1,500.2,500.3]],
              [[1000.1,1000.2,1000.3],[2000.1,2000.2,2000.3],[3000.1,3000.2,3000.3],[4000.1,4000.2,4000.3],[5000.1,5000.2,5000.3]]])

In [33]:
k.shape

(3, 5, 3)

...

In [34]:
k[0:2,:,:]
k[0:2,...]

array([[[ 10.1,  10.2,  10.3],
        [ 20.1,  20.2,  20.3],
        [ 30.1,  30.2,  30.3],
        [ 40.1,  40.2,  40.3],
        [ 50.1,  50.2,  50.3]],

       [[100.1, 100.2, 100.3],
        [200.1, 200.2, 200.3],
        [300.1, 300.2, 300.3],
        [400.1, 400.2, 400.3],
        [500.1, 500.2, 500.3]]])

In [35]:
for i in k:
    print (i)
    print ('-----')
    for i2 in i:
        print (i2)
        print ('-----')
        for i3 in i2:
            print (i3)
            print ('-----')

[[10.1 10.2 10.3]
 [20.1 20.2 20.3]
 [30.1 30.2 30.3]
 [40.1 40.2 40.3]
 [50.1 50.2 50.3]]
-----
[10.1 10.2 10.3]
-----
10.1
-----
10.2
-----
10.3
-----
[20.1 20.2 20.3]
-----
20.1
-----
20.2
-----
20.3
-----
[30.1 30.2 30.3]
-----
30.1
-----
30.2
-----
30.3
-----
[40.1 40.2 40.3]
-----
40.1
-----
40.2
-----
40.3
-----
[50.1 50.2 50.3]
-----
50.1
-----
50.2
-----
50.3
-----
[[100.1 100.2 100.3]
 [200.1 200.2 200.3]
 [300.1 300.2 300.3]
 [400.1 400.2 400.3]
 [500.1 500.2 500.3]]
-----
[100.1 100.2 100.3]
-----
100.1
-----
100.2
-----
100.3
-----
[200.1 200.2 200.3]
-----
200.1
-----
200.2
-----
200.3
-----
[300.1 300.2 300.3]
-----
300.1
-----
300.2
-----
300.3
-----
[400.1 400.2 400.3]
-----
400.1
-----
400.2
-----
400.3
-----
[500.1 500.2 500.3]
-----
500.1
-----
500.2
-----
500.3
-----
[[1000.1 1000.2 1000.3]
 [2000.1 2000.2 2000.3]
 [3000.1 3000.2 3000.3]
 [4000.1 4000.2 4000.3]
 [5000.1 5000.2 5000.3]]
-----
[1000.1 1000.2 1000.3]
-----
1000.1
-----
1000.2
-----
1000.3
-----
[2000.1 2000.2 2000.3]
-----
2000.1
-----
2000.2
-----
2000.3
-----
[3000.1 3000.2 3000.3]
-----
3000.1
-----
3000.2
-----
3000.3
-----
[4000.1 4000.2 4000.3]
-----
4000.1
-----
4000.2
-----
4000.3
-----
[5000.1 5000.2 5000.3]
-----
5000.1
-----
5000.2
-----
5000.3
-----

In [36]:
for i in k.flat:
    print (i)

10.1
10.2
10.3
20.1
20.2
20.3
30.1
30.2
30.3
40.1
40.2
40.3
50.1
50.2
50.3
100.1
100.2
100.3
200.1
200.2
200.3
300.1
300.2
300.3
400.1
400.2
400.3
500.1
500.2
500.3
1000.1
1000.2
1000.3
2000.1
2000.2
2000.3
3000.1
3000.2
3000.3
4000.1
4000.2
4000.3
5000.1
5000.2
5000.3

In [37]:
k.shape
'''(3, 5, 3)'''

'(3, 5, 3)'

In [38]:
k.ravel()

array([  10.1,   10.2,   10.3,   20.1,   20.2,   20.3,   30.1,   30.2,
         30.3,   40.1,   40.2,   40.3,   50.1,   50.2,   50.3,  100.1,
        100.2,  100.3,  200.1,  200.2,  200.3,  300.1,  300.2,  300.3,
        400.1,  400.2,  400.3,  500.1,  500.2,  500.3, 1000.1, 1000.2,
       1000.3, 2000.1, 2000.2, 2000.3, 3000.1, 3000.2, 3000.3, 4000.1,
       4000.2, 4000.3, 5000.1, 5000.2, 5000.3])

In [39]:
k.shape = (5, 9)
k

array([[  10.1,   10.2,   10.3,   20.1,   20.2,   20.3,   30.1,   30.2,
          30.3],
       [  40.1,   40.2,   40.3,   50.1,   50.2,   50.3,  100.1,  100.2,
         100.3],
       [ 200.1,  200.2,  200.3,  300.1,  300.2,  300.3,  400.1,  400.2,
         400.3],
       [ 500.1,  500.2,  500.3, 1000.1, 1000.2, 1000.3, 2000.1, 2000.2,
        2000.3],
       [3000.1, 3000.2, 3000.3, 4000.1, 4000.2, 4000.3, 5000.1, 5000.2,
        5000.3]])

In [40]:
k.transpose()

array([[  10.1,   40.1,  200.1,  500.1, 3000.1],
       [  10.2,   40.2,  200.2,  500.2, 3000.2],
       [  10.3,   40.3,  200.3,  500.3, 3000.3],
       [  20.1,   50.1,  300.1, 1000.1, 4000.1],
       [  20.2,   50.2,  300.2, 1000.2, 4000.2],
       [  20.3,   50.3,  300.3, 1000.3, 4000.3],
       [  30.1,  100.1,  400.1, 2000.1, 5000.1],
       [  30.2,  100.2,  400.2, 2000.2, 5000.2],
       [  30.3,  100.3,  400.3, 2000.3, 5000.3]])

In [41]:
k.reshape((5, 9), order='F')

array([[  10.1,   10.2,   10.3,   20.1,   20.2,   20.3,   30.1,   30.2,
          30.3],
       [  40.1,   40.2,   40.3,   50.1,   50.2,   50.3,  100.1,  100.2,
         100.3],
       [ 200.1,  200.2,  200.3,  300.1,  300.2,  300.3,  400.1,  400.2,
         400.3],
       [ 500.1,  500.2,  500.3, 1000.1, 1000.2, 1000.3, 2000.1, 2000.2,
        2000.3],
       [3000.1, 3000.2, 3000.3, 4000.1, 4000.2, 4000.3, 5000.1, 5000.2,
        5000.3]])

In [42]:
b

array([ 2,  4,  6,  8, 10, 12])

In [43]:
a = np.array([[1, 2], [3, 4]])
b = np.array([[5, 6], [7, 8]])
np.vstack((a, b))
np.hstack((a, b))

array([[1, 2, 5, 6],
       [3, 4, 7, 8]])

In [44]:
np.column_stack((a, b))

array([[1, 2, 5, 6],
       [3, 4, 7, 8]])

In [45]:
np.row_stack((a, b))

array([[1, 2],
       [3, 4],
       [5, 6],
       [7, 8]])

In [46]:
np.hsplit(k, 3)  # Разбить на 3 части условной вертикальной линией

[array([[  10.1,   10.2,   10.3],
        [  40.1,   40.2,   40.3],
        [ 200.1,  200.2,  200.3],
        [ 500.1,  500.2,  500.3],
        [3000.1, 3000.2, 3000.3]]),
 array([[  20.1,   20.2,   20.3],
        [  50.1,   50.2,   50.3],
        [ 300.1,  300.2,  300.3],
        [1000.1, 1000.2, 1000.3],
        [4000.1, 4000.2, 4000.3]]),
 array([[  30.1,   30.2,   30.3],
        [ 100.1,  100.2,  100.3],
        [ 400.1,  400.2,  400.3],
        [2000.1, 2000.2, 2000.3],
        [5000.1, 5000.2, 5000.3]])]

In [47]:
k

array([[  10.1,   10.2,   10.3,   20.1,   20.2,   20.3,   30.1,   30.2,
          30.3],
       [  40.1,   40.2,   40.3,   50.1,   50.2,   50.3,  100.1,  100.2,
         100.3],
       [ 200.1,  200.2,  200.3,  300.1,  300.2,  300.3,  400.1,  400.2,
         400.3],
       [ 500.1,  500.2,  500.3, 1000.1, 1000.2, 1000.3, 2000.1, 2000.2,
        2000.3],
       [3000.1, 3000.2, 3000.3, 4000.1, 4000.2, 4000.3, 5000.1, 5000.2,
        5000.3]])

In [48]:
np.hsplit(k, (3, 4)) # Разбить на части условными вертикальными линиями после 3 и 4 столбца

[array([[  10.1,   10.2,   10.3],
        [  40.1,   40.2,   40.3],
        [ 200.1,  200.2,  200.3],
        [ 500.1,  500.2,  500.3],
        [3000.1, 3000.2, 3000.3]]),
 array([[  20.1],
        [  50.1],
        [ 300.1],
        [1000.1],
        [4000.1]]),
 array([[  20.2,   20.3,   30.1,   30.2,   30.3],
        [  50.2,   50.3,  100.1,  100.2,  100.3],
        [ 300.2,  300.3,  400.1,  400.2,  400.3],
        [1000.2, 1000.3, 2000.1, 2000.2, 2000.3],
        [4000.2, 4000.3, 5000.1, 5000.2, 5000.3]])]

In [49]:
np.vsplit(k, (1, 2)) # Разбить на части условными горизонтальными линиями после 1 и 2 строки

[array([[10.1, 10.2, 10.3, 20.1, 20.2, 20.3, 30.1, 30.2, 30.3]]),
 array([[ 40.1,  40.2,  40.3,  50.1,  50.2,  50.3, 100.1, 100.2, 100.3]]),
 array([[ 200.1,  200.2,  200.3,  300.1,  300.2,  300.3,  400.1,  400.2,
          400.3],
        [ 500.1,  500.2,  500.3, 1000.1, 1000.2, 1000.3, 2000.1, 2000.2,
         2000.3],
        [3000.1, 3000.2, 3000.3, 4000.1, 4000.2, 4000.3, 5000.1, 5000.2,
         5000.3]])]

In [50]:
np.vsplit(k, 5) # Разбить на 5 частей условной горизонтальной линией

[array([[10.1, 10.2, 10.3, 20.1, 20.2, 20.3, 30.1, 30.2, 30.3]]),
 array([[ 40.1,  40.2,  40.3,  50.1,  50.2,  50.3, 100.1, 100.2, 100.3]]),
 array([[200.1, 200.2, 200.3, 300.1, 300.2, 300.3, 400.1, 400.2, 400.3]]),
 array([[ 500.1,  500.2,  500.3, 1000.1, 1000.2, 1000.3, 2000.1, 2000.2,
         2000.3]]),
 array([[3000.1, 3000.2, 3000.3, 4000.1, 4000.2, 4000.3, 5000.1, 5000.2,
         5000.3]])]

In [51]:
k

array([[  10.1,   10.2,   10.3,   20.1,   20.2,   20.3,   30.1,   30.2,
          30.3],
       [  40.1,   40.2,   40.3,   50.1,   50.2,   50.3,  100.1,  100.2,
         100.3],
       [ 200.1,  200.2,  200.3,  300.1,  300.2,  300.3,  400.1,  400.2,
         400.3],
       [ 500.1,  500.2,  500.3, 1000.1, 1000.2, 1000.3, 2000.1, 2000.2,
        2000.3],
       [3000.1, 3000.2, 3000.3, 4000.1, 4000.2, 4000.3, 5000.1, 5000.2,
        5000.3]])

In [52]:
l=k # l и k это два имени для одного и того же

In [53]:
l[0,0]=0

In [54]:
k

array([[   0. ,   10.2,   10.3,   20.1,   20.2,   20.3,   30.1,   30.2,
          30.3],
       [  40.1,   40.2,   40.3,   50.1,   50.2,   50.3,  100.1,  100.2,
         100.3],
       [ 200.1,  200.2,  200.3,  300.1,  300.2,  300.3,  400.1,  400.2,
         400.3],
       [ 500.1,  500.2,  500.3, 1000.1, 1000.2, 1000.3, 2000.1, 2000.2,
        2000.3],
       [3000.1, 3000.2, 3000.3, 4000.1, 4000.2, 4000.3, 5000.1, 5000.2,
        5000.3]])

In [55]:
m=k.view() # те е данные, но изменяется представление

In [56]:
m=m.transpose()

In [57]:
m

array([[   0. ,   40.1,  200.1,  500.1, 3000.1],
       [  10.2,   40.2,  200.2,  500.2, 3000.2],
       [  10.3,   40.3,  200.3,  500.3, 3000.3],
       [  20.1,   50.1,  300.1, 1000.1, 4000.1],
       [  20.2,   50.2,  300.2, 1000.2, 4000.2],
       [  20.3,   50.3,  300.3, 1000.3, 4000.3],
       [  30.1,  100.1,  400.1, 2000.1, 5000.1],
       [  30.2,  100.2,  400.2, 2000.2, 5000.2],
       [  30.3,  100.3,  400.3, 2000.3, 5000.3]])

In [58]:
k

array([[   0. ,   10.2,   10.3,   20.1,   20.2,   20.3,   30.1,   30.2,
          30.3],
       [  40.1,   40.2,   40.3,   50.1,   50.2,   50.3,  100.1,  100.2,
         100.3],
       [ 200.1,  200.2,  200.3,  300.1,  300.2,  300.3,  400.1,  400.2,
         400.3],
       [ 500.1,  500.2,  500.3, 1000.1, 1000.2, 1000.3, 2000.1, 2000.2,
        2000.3],
       [3000.1, 3000.2, 3000.3, 4000.1, 4000.2, 4000.3, 5000.1, 5000.2,
        5000.3]])

однако

In [60]:
k [0,0]=1111

In [61]:
m

array([[1111. ,   40.1,  200.1,  500.1, 3000.1],
       [  10.2,   40.2,  200.2,  500.2, 3000.2],
       [  10.3,   40.3,  200.3,  500.3, 3000.3],
       [  20.1,   50.1,  300.1, 1000.1, 4000.1],
       [  20.2,   50.2,  300.2, 1000.2, 4000.2],
       [  20.3,   50.3,  300.3, 1000.3, 4000.3],
       [  30.1,  100.1,  400.1, 2000.1, 5000.1],
       [  30.2,  100.2,  400.2, 2000.2, 5000.2],
       [  30.3,  100.3,  400.3, 2000.3, 5000.3]])

In [62]:
n = k.copy() # настоящая копия, изменение n не влияет на k

random

In [63]:

import random

np.random.seed(1000) # фиксируем сид для одинаковой генерации рандома

np.array([random.random() for i in range(10)])

array([0.29, 0.16, 1.  , 0.66, 0.7 , 0.41, 0.1 , 0.91, 0.52, 0.69])

In [64]:
np.random.sample(10) # средствами numpy без аргументов возвращает просто число в промежутке [0, 1)

array([0.65, 0.12, 0.95, 0.48, 0.87, 0.21, 0.04, 0.4 , 0.23, 0.84])

In [65]:
np.random.randint(0, 3, 10)
#np.random.random_integers(0, 3, 10) # устарела
np.random.uniform(0, 3, 10)

array([0.21, 2.66, 2.86, 2.79, 1.25, 0.09, 2.95, 1.02, 2.12, 1.09])

In [66]:
o=np.random.randint(0, 7, 100)

In [67]:
o

array([2, 5, 2, 4, 0, 4, 4, 3, 1, 3, 3, 0, 6, 5, 2, 1, 3, 6, 3, 1, 5, 6,
       5, 3, 4, 5, 3, 0, 0, 2, 2, 5, 3, 1, 6, 2, 2, 3, 3, 6, 5, 0, 4, 1,
       0, 1, 1, 0, 0, 0, 2, 3, 1, 5, 3, 6, 2, 1, 6, 2, 1, 5, 0, 3, 5, 6,
       1, 6, 4, 3, 3, 6, 3, 4, 3, 5, 0, 1, 3, 5, 5, 5, 2, 0, 4, 5, 6, 4,
       1, 6, 5, 5, 6, 5, 1, 4, 1, 4, 5, 0])

In [70]:
print(np.random.shuffle(o)) # изменяет массив

None

In [71]:
o

array([0, 6, 5, 3, 3, 6, 5, 0, 2, 3, 3, 5, 3, 6, 1, 2, 5, 5, 3, 1, 2, 3,
       4, 5, 4, 4, 3, 6, 2, 6, 3, 3, 6, 3, 5, 3, 5, 1, 3, 4, 0, 4, 6, 5,
       5, 5, 0, 1, 6, 0, 1, 2, 0, 6, 4, 1, 1, 0, 4, 4, 1, 5, 2, 4, 5, 0,
       5, 1, 6, 1, 5, 3, 4, 0, 2, 4, 5, 0, 6, 1, 3, 2, 2, 1, 0, 1, 2, 5,
       5, 1, 5, 3, 1, 0, 0, 3, 3, 2, 6, 6])

numpy.random.choice(a, size=None, replace=True, p=None)

a : одномерный массив или число. Если массив, будет производиться выборка из него. Если число, то выборка будет производиться из np.arange(a).
size : размерности массива. Если None, возвращается одно значение.
replace : если True, то одно значение может выбираться более одного раза.
p : вероятности. Это означает, что элементы можно выбирать с неравными вероятностями. Если не заданы, используется равномерное распределение

In [72]:
np.random.choice(o[0:10], 10, p=[0.5, 0.25, 0.25, 0, 0, 0, 0, 0, 0, 0])

array([5, 6, 0, 0, 6, 0, 0, 0, 0, 0])

In [73]:
c

array([[ 1.1 ,  2.2 ,  3.3 ,  4.4 ,  5.5 ,  6.6 ],
       [ 7.7 ,  8.8 ,  9.9 , 10.1 , 11.11, 12.12],
       [13.13, 14.14, 15.15, 16.16, 17.17,  0.  ]])

In [88]:
a.fill(0)
np.concatenate((a, b))
#a

array([[0., 0.],
       [0., 0.]])

In [95]:
b = np.array([-1., 3.], float)

ab1 = a + b
ab2 = a + b[np.newaxis,:]
ab3 = a + b[:,np.newaxis]

In [96]:
print (a)
print (b)
print (ab1)
print (ab2)
print (ab3)

[[0. 0.]
 [0. 0.]]
[-1.  3.]
[[-1.  3.]
 [-1.  3.]]
[[-1.  3.]
 [-1.  3.]]
[[-1. -1.]
 [ 3.  3.]]

In [76]:
a = np.array([[1, 2], [3, 4]], float)
b = np.array([[5, 6], [7,8]], float)
print(np.concatenate((a,b)))
print(np.concatenate((a,b), axis=0))
print(np.concatenate((a,b), axis=1))

[[1. 2.]
 [3. 4.]
 [5. 6.]
 [7. 8.]]
[[1. 2.]
 [3. 4.]
 [5. 6.]
 [7. 8.]]
[[1. 2. 5. 6.]
 [3. 4. 7. 8.]]

Операции с матрицами, модуль <b>linalg</b>

In [77]:
M1=np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])

In [78]:
M1

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [79]:
n=2
np.linalg.matrix_power(M1, n)

array([[ 30,  36,  42],
       [ 66,  81,  96],
       [102, 126, 150]])

In [80]:
M1.pow(M1)

AttributeError: 'numpy.ndarray' object has no attribute 'pow'