In [4]:
import pandas as pd
import numpy as np

In [ ]:
pd.DataFrame([[30, 21]], columns=['Apples', 'Bananas'])

In [2]:
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 
              'Sue': ['Pretty good.', 'Bland.']},
             index=['Product A', 'Product B'])

                     Bob           Sue
Product A    I liked it.  Pretty good.
Product B  It was awful.        Bland.

In [3]:
pd.Series([30, 35, 40], index=['2015 Sales', '2016 Sales', '2017 Sales'], name='Product A')

2015 Sales    30
2016 Sales    35
2017 Sales    40
Name: Product A, dtype: int64

In [ ]:
pd.read_csv('../input/wine-reviews/winemag-data_first150k.csv' , index_col=0)

In [ ]:
animals.to_csv(path_or_buf = './cows_and_goats.csv', sep = ',', mode = 'w')

Both loc and iloc are row-first, column-second. This is the opposite of what we do in native Python, which is column-first, row-second.
Обратите внимание на диапазоны - iloc uses the Python stdlib indexing scheme, where the first element of the range is included and the last one excluded. So 0:10 will select entries 0,...,9. loc, meanwhile, indexes inclusively.

In [6]:
a = pd.Series([1,2,3,4,5,6,7,8,9,10], index=[49,48,47,46,45, 1, 2, 3, 4, 5])

In [8]:
print(a)
print('-----')
print(a.loc[:3])
print('-----')
print(a.iloc[:3])

49     1
48     2
47     3
46     4
45     5
1      6
2      7
3      8
4      9
5     10
dtype: int64
-----
49    1
48    2
47    3
46    4
45    5
1     6
2     7
3     8
dtype: int64
-----
49    1
48    2
47    3
dtype: int64

In [ ]:
reviews.iloc[[0, 1, 2], 0]
reviews.loc[:, ['taster_name', 'taster_twitter_handle', 'points']]