In [1]:
a = '3.14'
print(type(a))
# <class 'str'>

<class 'str'>

In [10]:
print (13 %-3 * 3)

-6

In [13]:
numbers = '1 2 3 4 5 6 7'
numbers_2=numbers.split()
numbers_3="\n".join(numbers_2)
print(numbers_3)

1
2
3
4
5
6
7

In [ ]:

cur_date = input('Enter date: ')
currency = input('Enter currency: ')
rate = 10
print('The', currency, 'currency rate on the date', cur_date,'is', rate)
print('The {0} currency rate on the date {2} is {1:.3f}'.format(currency, rate, cur_date))

In [3]:
my_books=['book1', 'book2', 'book3', 'book4', 'book5']
tom_books=my_books.copy()
print(my_books,tom_books)

['book1', 'book2', 'book3', 'book4', 'book5'] ['book1', 'book2', 'book3', 'book4', 'book5']

In [4]:
my_orders = ['order1', 'order2', 'order3', 'order4', 'order5']
anne_orders= my_orders[:]
print(my_orders,anne_orders)

['order1', 'order2', 'order3', 'order4', 'order5'] ['order1', 'order2', 'order3', 'order4', 'order5']

In [6]:
all_things = ['order1', 'order2', 'order3']
only_books=['book1', 'book2']
all_things.extend(only_books)
print(all_things)

['order1', 'order2', 'order3', 'book1', 'book2']

In [10]:
nums=list(range(1,11,1))
nums.reverse()
print(nums)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [11]:
random_values = [3, 5, 0, -1, 2, 10, 15, -5]
random_values.sort()
print(random_values)

[-5, -1, 0, 2, 3, 5, 10, 15]

In [13]:
list1=[]
list1.append(5)
list1.append(0.2)
list1.append('hello there')
list1.append([1,2,3,4])
list1.append('bye')
print(list1)

[5, 0.2, 'hello there', [1, 2, 3, 4], 'bye']

In [14]:
tpl=tuple()
print(tpl)

()

In [28]:
tpl2=255,
tpl3=tuple('255')


print(tpl2)
print(tpl3)
tpl4=(15,22,0)
print(tpl4)

(255,)
('2', '5', '5')
(15, 22, 0)

In [34]:
empty_dict=dict()
#print(empty_dict)
empty_dict2={}
print(empty_dict,empty_dict2)

{} {}

In [37]:
alphabet_dict={'a':1,'b':2,'c':3,'d':4,'e':5}
print(alphabet_dict['d'])

4

In [60]:
place_and_money = {1: 100, 2: 50, 3: 10}
place_and_money.setdefault(2,1)
#place_and_money[4]=5
#place_and_money.update({5:1})
#result=place_and_money.pop(3)
#result=place_and_money.pop(3)
#print(result)
print(place_and_money)

{1: 100, 2: 50, 3: 10}

In [55]:
place_and_money =  {'Anne': 22, 'Anton': 27, 'Phillip': 30}
place_and_money.update({'Anne': 23, 'Phillip': 29})
print(place_and_money)
print(place_and_money.values())
print(place_and_money.get('Danny',-1))

{'Anne': 23, 'Anton': 27, 'Phillip': 29}
dict_values([23, 27, 29])
-1

In [62]:
test_dict={5:[3,4,5],(3,4,5):'strong man'}
print(test_dict)

{5: [3, 4, 5], (3, 4, 5): 'strong man'}

In [63]:
test_dict2={'name':'Sancho','surname':'Panso','info':{'age': 35, 'country': 'Mexico'}}
print(test_dict2)

{'name': 'Sancho', 'surname': 'Panso', 'info': {'age': 35, 'country': 'Mexico'}}

In [65]:
test_dict3={'info':[10, 15, 27],'about':{'game': 'football', 'period': 5}}
test_dict3.update({'about':'dont know'})
print(test_dict3)

{'info': [10, 15, 27], 'about': 'dont know'}

In [81]:
#s1 = set('a')
s1={'a','b','c','d','e','f'}
s1.remove('f')
#s1.discard('f')

#s1.add('hello')
print(s1)
s2={5, 10, 3, 2, 11}
print(s2)
s3=set('wow thats cool')
print(s3)

{'c', 'e', 'd', 'a', 'b'}
{2, 3, 5, 10, 11}
{'o', 's', 'c', 't', 'a', 'l', ' ', 'w', 'h'}

In [94]:
alpha_set={'a','b','c','d','e'}
name=set('bad boy')
#name.union(alpha_set)
#name.intersection(alpha_set)
alpha_set.difference(name)

{'c', 'e'}

In [95]:
num_set={0,1,2,3,4,5,6,7,8,9,10}
date_num=set([1,9,4,8])
#print(num_set.union(date_num))
#print(num_set.intersection(date_num))
print(num_set.difference(date_num))

{0, 2, 3, 5, 6, 7, 10}

In [89]:
num_set = {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
date_num = set([1, 9, 4, 8])
print(num_set.union(date_num))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [97]:
a=3
b=float(a)
print(b)

3.0

In [98]:
num1=3
num2=3.5
sum1=num1+num2
sum2=float(num1)+num2
print(sum1,sum2)

6.5 6.5

In [102]:
int_one=1
str_one=str(int_one)
print(str_one)

1

In [103]:
str_age_begin='my age is '
int_age=18
result_string=str_age_begin+str(int_age)
print(result_string)

my age is 18

In [104]:
str_brothers_begin='I have '
count=5
str_brothers_end=' brothers'
result_sentence=str_brothers_begin + str(count) + str_brothers_end
print(result_sentence)

I have 5 brothers

In [105]:
int('hello world')

ValueError: invalid literal for int() with base 10: 'hello world'

In [107]:
print(int('50.4'))

ValueError: invalid literal for int() with base 10: '50.4'

In [110]:
print(list(('a','b','c','d','e')))

['a', 'b', 'c', 'd', 'e']

In [112]:
list2=list(range(-5,15,2))
list3= [1,2,3,4]
list3.extend(list2)
print(list3)

[1, 2, 3, 4, -5, -3, -1, 1, 3, 5, 7, 9, 11, 13]

In [121]:
list6=[3, 1, -10, 5, 11, 20, 1, -10]
list7=list6[:]
print(list7)
list6.sort()
print(list6)
list_result=list6[::-1]
print(list7,list_result)

[3, 1, -10, 5, 11, 20, 1, -10]
[-10, -10, 1, 1, 3, 5, 11, 20]
[3, 1, -10, 5, 11, 20, 1, -10] [20, 11, 5, 3, 1, 1, -10, -10]

In [123]:
list1=[10,15]
tpl1=tuple(list1)
dict1={}
dict1.update({tpl1:'hello'})
print(dict1)

{(10, 15): 'hello'}

In [124]:
dict1={'name':'unknown'} 
dict2={'name':'Tom'}
print(dict1,dict2,dict1.keys(),dict1.values())

{'name': 'unknown'} {'name': 'Tom'} dict_keys(['name']) dict_values(['unknown'])

In [125]:
s1=set('hello')
s2=set(['w', 'o', 'w'])
print(s1.union(s2),s1.intersection(s2),s1.difference(s2))

{'o', 'e', 'l', 'w', 'h'} {'o'} {'e', 'l', 'h'}

In [127]:
result='age is '+str(15)
print(result)

age is 15

In [129]:
var = ('a' in ['a', 'b', 'c'])
var

True

In [131]:
print(not False and True or False and not True)

True

In [7]:
x=2020

if (x % 4 == 0 or x % 400 == 0) and not(x % 400 !=0 and x % 100 == 0 ):
         x='t'
print(x)

t

In [10]:
list(map(lambda x, y: x - y, [2, 4, 6,6], [1, 3, 5,6]))

[1, 1, 1, 0]

In [1]:
list_1 = [1, 2]
 
list_2 = [1, 2, 3]
val = list_2.pop()
 
print(list_1 == list_2)

True

In [2]:
list_1 = [1, 2]
 
list_2 = [1, 2, 3]
val = list_2.pop()
 
print(id(list_1) == id(list_2))

False

In [3]:
phone='1'
if phone!=None:
    print('!')
else:
    print('x')

!

In [14]:
x=input("input a number")
try:
    x=5/int(x)     
except ValueError:
    print(x, " number is from tula")
except ZeroDivisionError:
    print(x, " number is 0")
else:
    print(x, " number is correct")
finally:
    print(x, "that is all, folks")

input a number5
1.0  number is correct
1.0 that is all, folks

In [4]:

user_database = {
    'user': 'password',
    'iseedeadpeople': 'greedisgood',
    'hesoyam': 'tgm'
}

def check_user(username, password):
    if user_database.get(username, None):
        if user_database[username]==password:
            return True
    else:
        return False
    
    
print(check_user('user', 'password'))

True

In [6]:
a=5
b=6

result = a if a > b else b
print(result)
#ИЛИ
result = (b, a)[a > b]
print(result)

6
6

In [7]:
weight_of_products = [10, 42.4, 240.1, 101.5, 98, 0.4, 0.3, 15] #список масс товаров

max_weight = 100 #задаём максимальное значение веса груза
num = 1 #задаём начальный номер груза
#создаём цикл по элементам списка с массами товаров
for weight in weight_of_products: #weight — текущее значение веса
    if weight < max_weight: #если текущий вес меньше максимального,
        #выводим номер груза, его вес и отправляем его в легковую машину
        print('Product {}, weight: {} -passenger car'.format(num, weight)) 
    else:
        #выводим номер груза, его вес и отправляем его в грузовую машину
        print('Product {}, weight: {} -truck'.format(num, weight))
    num += 1 #увеличиваем значение номера груза на 1

Product 1, weight: 10 -passenger car
Product 2, weight: 42.4 -passenger car
Product 3, weight: 240.1 -truck
Product 4, weight: 101.5 -truck
Product 5, weight: 98 -passenger car
Product 6, weight: 0.4 -passenger car
Product 7, weight: 0.3 -passenger car
Product 8, weight: 15 -passenger car

In [9]:
my_list = [1]
for i in range(10):
    my_list.append(my_list[i] * 2)
print(my_list)

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024]

In [30]:
string=""
word_list = ['My', 'name', 'is', 'Alexander']
for word in word_list:
    string+=word
    string+=" "
print(string)

My name is Alexander

In [13]:
num_list = [1, 10, 3, -5]
num_list.sort()
print(num_list)

[-5, 1, 3, 10]

In [2]:
counter=0
#my_list = list(range(0, 100, 3))
my_list = [True, 1, -10, 'hello', False, 'string_1', 123, 2.5, [1, 2], 'another']
print(str)
for i in range(len(my_list)):
    print(i)
    print(my_list[i])
    print(type(my_list[i]))
    #if i%2==0:
    if isinstance(my_list[i],str):
        counter+=1
print(counter)

<class 'str'>
0
True
<class 'bool'>
1
1
<class 'int'>
2
-10
<class 'int'>
3
hello
<class 'str'>
4
False
<class 'bool'>
5
string_1
<class 'str'>
6
123
<class 'int'>
7
2.5
<class 'float'>
8
[1, 2]
<class 'list'>
9
another
<class 'str'>
3

In [15]:
type("qs")

str

In [3]:
weight = 67 #заданный вес входящего в лифт человека
max_weight = 400 #задаём грузоподъёмность
S = 0 #задаём суммарный вес людей в лифте
#создаём цикл, который будет работать, пока S не превысит max_weight 
while S < max_weight: #делай, пока...
    S += weight #увеличиваем суммарный вес, равносильно S = S + weight 
    print('Current sum weight', S) #выводим значение суммарного веса после обновления
print() #отделяем промежуточный вывод от результата пустой строкой
print('Overweight {} kg'.format(S-max_weight)) #выводим итоговое значение перевеса

Current sum weight 67
Current sum weight 134
Current sum weight 201
Current sum weight 268
Current sum weight 335
Current sum weight 402

Overweight 2 kg

In [4]:
S = 0  # создаём накопительную переменную, в которой будем считать сумму
n = 1  # задаём текущее натуральное число
 
# создаём цикл, который будет работать, пока сумма не превысит 500
while S < 500:  # делай, пока ...
    S += n  # увеличиваем сумму, равносильно S = S + n
    n += 1  # увеличиваем значение натурального числа
    print("Still counting ...") #выводим строку ожидания
print() #отделяем промежуточный вывод от результата пустой строкой
print("Sum is: ", S) #выводим результирующую сумму
print("Numbers total: ", n-1) #выводим результирующее количество чисел

Still counting ...
Still counting ...
Still counting ...
Still counting ...
Still counting ...
Still counting ...
Still counting ...
Still counting ...
Still counting ...
Still counting ...
Still counting ...
Still counting ...
Still counting ...
Still counting ...
Still counting ...
Still counting ...
Still counting ...
Still counting ...
Still counting ...
Still counting ...
Still counting ...
Still counting ...
Still counting ...
Still counting ...
Still counting ...
Still counting ...
Still counting ...
Still counting ...
Still counting ...
Still counting ...
Still counting ...
Still counting ...

Sum is:  528
Numbers total:  32

Напишите бесконечный цикл while с условием выхода внутри цикла, который находит максимальное натуральное число, квадрат которого меньше 1000.

In [7]:
n=0
while True:
    print(n, " ", n**2)
    if n**2 > 1000:
        print("Уже больше косаря! СТОП!")
        break
    else:
        print("Продолжаем")
        print()
    n+=1

0   0
Продолжаем

1   1
Продолжаем

2   4
Продолжаем

3   9
Продолжаем

4   16
Продолжаем

5   25
Продолжаем

6   36
Продолжаем

7   49
Продолжаем

8   64
Продолжаем

9   81
Продолжаем

10   100
Продолжаем

11   121
Продолжаем

12   144
Продолжаем

13   169
Продолжаем

14   196
Продолжаем

15   225
Продолжаем

16   256
Продолжаем

17   289
Продолжаем

18   324
Продолжаем

19   361
Продолжаем

20   400
Продолжаем

21   441
Продолжаем

22   484
Продолжаем

23   529
Продолжаем

24   576
Продолжаем

25   625
Продолжаем

26   676
Продолжаем

27   729
Продолжаем

28   784
Продолжаем

29   841
Продолжаем

30   900
Продолжаем

31   961
Продолжаем

32   1024
Уже больше косаря! СТОП!

In [8]:
i = 0
while i < 5:
    i += 1
print(i)

5

In [9]:
n = 10
i = 1
while i ** 2 < n:
    i += 1
print(i)

4

Напишите цикл while, который вычисляет произведение натуральных чисел (1*2*3*4*...). Цикл должен выполняться до тех пор, пока значение произведения не превысит 1 000. В ответ запишите полученное после цикла произведение.

In [13]:
S = 3
n = 1
i=0
while 3**n < 1000:
    S=3**n
    print(S," ",n," ",i," ")
    print(S)
    n += 1
    i += 1 
print("ну вот и все")

3   1   0
3
9   2   1
9
27   3   2
27
81   4   3
81
243   5   4
243
729   6   5
729
ну вот и все

In [14]:
S = 1000
n = 0.08
i=0
while S < 3000:
    S=S*(1+n)
    print(S," ",i)
    i += 1 
print("ну вот и все")

1080.0   0
1166.4   1
1259.7120000000002   2
1360.4889600000004   3
1469.3280768000004   4
1586.8743229440006   5
1713.8242687795207   6
1850.9302102818824   7
1999.0046271044332   8
2158.924997272788   9
2331.638997054611   10
2518.17011681898   11
2719.6237261644987   12
2937.193624257659   13
3172.169114198272   14
ну вот и все

Пусть пользователь заводит будильники на каждые два часа, начиная с 9 часов утра. Причём будильники должны звонить четырежды в указанный час (интервал 15 минут), например в 11:00, 11:15, 11:30 и 11:45.

Напишите вложенный цикл, который будет выводить на экран время, в которое прозвенят будильники.

In [2]:
hours = list(range(9, 24, 2)) #создаём список часов
minutes = list(range(0, 60, 15)) #создаём список минут
#создаём цикл по элементам списка часов
for hour in hours: #hour — текущее значение часа (10, 15, 20)
    #создаём цикл по элементам списка минут
    for minute in minutes: #second — текущее значение минуты
        print('Alarm is set {}:{}'.format(hour, minute)) #выводим время

Alarm is set 9:0
Alarm is set 9:15
Alarm is set 9:30
Alarm is set 9:45
Alarm is set 11:0
Alarm is set 11:15
Alarm is set 11:30
Alarm is set 11:45
Alarm is set 13:0
Alarm is set 13:15
Alarm is set 13:30
Alarm is set 13:45
Alarm is set 15:0
Alarm is set 15:15
Alarm is set 15:30
Alarm is set 15:45
Alarm is set 17:0
Alarm is set 17:15
Alarm is set 17:30
Alarm is set 17:45
Alarm is set 19:0
Alarm is set 19:15
Alarm is set 19:30
Alarm is set 19:45
Alarm is set 21:0
Alarm is set 21:15
Alarm is set 21:30
Alarm is set 21:45
Alarm is set 23:0
Alarm is set 23:15
Alarm is set 23:30
Alarm is set 23:45

In [4]:
text_list = [
    'afbaad',
    'faaf',
    'afaga',
    'agag'
]
n=0
for i in text_list:
    n=n+i.count('a')
print(n)

10

In [7]:
scores = [
    [0.5, 0.6, 0.6, 0.65, 0.3],
    [0.55, 0.7, 0.9, 0.5, 0.5]
]
scores_lst = []
for row in scores:
    for score in row:
        scores_lst.append(score)
print(scores_lst)

[0.5, 0.6, 0.6, 0.65, 0.3, 0.55, 0.7, 0.9, 0.5, 0.5]

In [9]:
n = 16 #задаём число
#создаём бесконечный цикл
while True:
    #проверяем условие, что остаток от деления на 3 равен 0
    if n % 3 == 0: #если условие выполняется,
        n = n // 3 #новое число — результат целочисленного деления на 3
        if n == 1: #если в результате деления получили 1,
            print('n - is the power of the number 3!')#выводим утвердительное сообщение
            break #выходим из цикла
    else: #в противном случае
        print('n - is not the power of the number 3!') #выводим сообщение-опровержение
        break #выходим из цикла
#Будет выведено
#n - is the power of the number 3!

n - is not the power of the number 3!

In [11]:
i = 0
while True:
    if i > 10:
        break
    else:
        i += 1
        
print(i)

11

In [19]:
my_dict = {'a': 15, 'b': 10.5, 'c': '15', 'd': 50, 'e': 15, 'f': '15'}
count=0
for i,a in enumerate(my_dict):
    print(i,a)
    if type(my_dict[a]) == int or type(my_dict[a]) == float:
        count+=1
        
print(count)

0 a
1 b
2 c
3 d
4 e
5 f
4

In [21]:
text = """
The rabbit-hole went straight on like a tunnel for some way, and then dipped suddenly down, so suddenly that Alice had not a moment to think about stopping herself before she found herself falling down a very deep well.
 
Either the well was very deep, or she fell very slowly, for she had plenty of time as she went down to look about her and to wonder what was going to happen next. First, she tried to look down and make out what she was coming to, but it was too dark to see anything; then she looked at the sides of the well, and noticed that they were filled with cupboards and book-shelves; here and there she saw maps and pictures hung upon pegs. She took down a jar from one of the shelves as she passed; it was labelled `ORANGE MARMALADE', but to her great disappointment it was empty: she did not like to drop the jar for fear of killing somebody, so managed to put it into one of the cupboards as she fell past it.
 
`Well!' thought Alice to herself, `after such a fall as this, I shall think nothing of tumbling down stairs! How brave they'll all think me at home! Why, I wouldn't say anything about it, even if I fell off the top of the house!' (Which was very likely true.)
"""
text = text.lower() #приводим текст к нижнему регистру
#text = text.replace(" ", "") #заменяем пробелы на пустые строки
text = text.replace("\n", "") #заменяем символы переноса строки на пустые строки
count_dict = {} #создаём пустой словарь для подсчёта количества символов
#создаём цикл по символам в строке text
for symbol in text: #symbol — текущий символ в тексте
    #проверяем условие, что символа ещё нет среди ключей словаря
    if symbol not in count_dict: #если условие выполняется,
        count_dict[symbol] = 1 #заносим символ в словарь со значением 1
    else: #в противном случае
        count_dict[symbol] += 1 #увеличиваем частоту символа
print(count_dict) #выводим результирующий словарь

{'t': 88, 'h': 63, 'e': 112, ' ': 227, 'r': 39, 'a': 70, 'b': 15, 'i': 47, '-': 2, 'o': 80, 'l': 55, 'w': 31, 'n': 57, 's': 60, 'g': 17, 'k': 14, 'u': 22, 'f': 28, 'm': 17, 'y': 18, ',': 13, 'd': 43, 'p': 23, 'c': 9, 'v': 8, '.': 5, 'x': 1, ';': 3, 'j': 2, '`': 3, "'": 5, ':': 1, '!': 4, '(': 1, ')': 1}

In [24]:
import random
my_list = []
for i in range(0, 10):
    my_list.append(random.randint(0, 10))
    
    
print(my_list)
for elem in my_list:
    if my_list.count(elem) > 1:
        print("yes ",elem)
        break
    else:
        print("no ",elem)

[8, 0, 6, 1, 2, 5, 10, 7, 10, 10]
no  8
no  0
no  6
no  1
no  2
no  5
yes  10

In [2]:
current_health = 500
attack=80
seconds_num=0
while current_health >= 0:
    current_health -= attack
    seconds_num+=1
    print(current_health)
print("it lasted ", seconds_num, " seconds")

420
340
260
180
100
20
-60
it lasted  7  seconds

In [6]:
str_list = ['Hello', 'my', 'name', 'is', 'Ezeikel', 'I', 'like', 'knitting'] 
cut_str_list=[]
for i,lst_str in enumerate(str_list): 
    cut_str_list.append([i, lst_str[:3]])
    #print(i,lst_str[:3])
#print(cut_str_list)

In [12]:
word_dict={}
sentence = 'A roboT MAY Not injure a humAn BEING or, tHROugh INACtion, allow a human BEING to come to harm'
sentence=sentence.lower()
sentence=sentence.replace(",", "")
list_words=sentence.split()
#print(list_words)
for word in list_words:
        
    if word in word_dict:
        word_dict[word]+=1
    else:
        word_dict[word]=1
#print(word_dict)

['a', 'robot', 'may', 'not', 'injure', 'a', 'human', 'being', 'or', 'through', 'inaction', 'allow', 'a', 'human', 'being', 'to', 'come', 'to', 'harm']
{'a': 3, 'robot': 1, 'may': 1, 'not': 1, 'injure': 1, 'human': 2, 'being': 2, 'or': 1, 'through': 1, 'inaction': 1, 'allow': 1, 'to': 2, 'come': 1, 'harm': 1}

In [14]:
str_list = ['text', 'morning', 'notepad', 'television', 'ornament']
#symbol_to_check="t"
word_dict={}
for word in str_list:
    for letter in word:
        if letter==symbol_to_check:
            if word in word_dict:
                word_dict[word]+=1
            else:
                word_dict[word]=1
#print(word_dict)

In [16]:
def get_total(units, price):
    return(units*price)

print(get_total(15, 50))

750

In [19]:
def get_time(distance, speed):
    if distance < 0 or speed < 0:
        raise ValueError("Distance or speed cannot be below 0!")
    if speed == 0:
        raise ValueError("Speed cannot be equal to 0!")
    result = distance / speed
    return result

get_time(100, 0)

10.0

In [1]:
grades = {'Ivanov': 5, 'Smirnov': 3, 'Kuznetsova': 4, 'Tihonova': 5}
try:
    print(grades['Pavlov'])
except KeyError:
    print("Student’s mark was not found!")

Student’s mark was not found!

In [2]:
def add_mark(name, mark, journal=None):
   if mark not in [2, 3, 4, 5]:
       raise ValueError("Invalid Mark!") 
   if journal is None:
       journal = {}
   journal[name] = mark
   return journal

In [3]:
add_mark('Ivanov', 6)

ValueError: Invalid Mark!

In [4]:
def root(value, n=2, verbose=False):
    result = value ** (1/n)
    if verbose:
        # Аргументы в функции print,
        # перечисленные через запятую,
        # печатаются через пробел
        print('Root of power', n, 'from',
            value, 'equals', result)
    return result

In [7]:
root(27,3,True)

Root of power 3 from 27 equals 3.0

3.0